<mat-toolbar color="primary">
    <img class="pic" src="assets/images/cart.png" />
    <!-- <span><a mat-icon-button routerLink="/login">Login</a></span> -->
     <span class="example-spacer"></span>
     
     <i class= "one fas fa-shopping-cart" aria-hidden="true"></i>
 </mat-toolbar>


<div class="bootstrap-wrapper">
    <div class="container text-center">
        <h1 class="text-center mt20">Shopping Cart App</h1>
        <a routerLink ="/login" mat-raised-button color="primary">Login</a>
    </div>
</div>